.bg-image{
  
    background: rgb(4 64 56);
    background-size: cover;
    height: 100vh;
    /* width:100vw ; */
    background-repeat:no-repeat; 
  }
  .loginform{
    /* width: 250px; */
    box-shadow: 0 4px 8px 0 rgba(254, 254, 254, 0.2), 0 6px 20px 0 rgba(244, 244, 243, 0.19);
    
  }
